@import '../../components/variables.css';

.root {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.left, .mid, .right {
  display: inline-block;
  width: 22%;
  vertical-align: top;
}

.mid {
  width: 50%;
  margin-left: 10px;
}

.right {
  width: 25%;
  margin-left: 10px;
}
