@import '../../components/variables.css';

.root {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.left, .mid, .right {
  display: inline-block;
  width: 22%;
  vertical-align: top;
}

.mid {
  width: 51%;
  margin-left: 10px;
}

.right {
  width: 25%;
  margin-left: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.smallLeft {
  width: 8%;
}

.bigMid {
  width: 65%;
}
