@import '../../components/variables.css';

.root {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.left,
.mid,
.right {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.mid {
  width: 53%;
  margin-left: 10px;
}

.right {
  width: 25%;
  margin-left: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 50%;
  padding-left: 11%;
}

.smallLeft {
  width: 8%;
}

.bigMid {
  width: 65%;
}

.sortContainer {
  display: inline-block;
  width: 50%;
  color: var(--Trout);
  position: relative;
}

.subHeader {
  font-size: 14px;
  cursor: pointer;
  background: var(--White);
  width: 20%;
  margin-left: 27%;
  padding: 4px;
  border: 1px solid var(--Gallery);
  position: relative;
}

.subHeader i {
  font-size: 12px;
  position: absolute;
  top: 8px;
  right: 7px;
  padding-left: 4px;
  transition: transform 300ms ease-in-out;
}

.sortDropDown {
  position: absolute;
  background: var(--White);
  left: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0 3px 4px 0 rgba(114, 114, 114, 0.14);
  z-index: 2;
}

.sortDropDown div {
  padding: 5px 0;
  cursor: pointer;
}

.sortDropDown div:hover {
  background: var(--Alto);
}

.rotate {
  transform: rotate(-180deg);
}
