@import '../../../../components/variables.css';

.comments {
  background: var(--WildSand);
  padding: 10px;
}

.comments .userComment {
  padding: 10px 15px;
  border-bottom: 1px solid var(--Mercury);
}

.comments .userComment:last-child {
  border: none;
}

.loadMore {
  text-align: center;
  color: var(--Lochmara);
  cursor: pointer;
  width: 20%;
  margin: 0 auto;
}

.loadMore:hover {
  transform: scale(1.1, 1.1);
}

.addComment {
  position: relative;
}

.addComment textarea {
  height: 40px;
  outline: none;
  border: 1px solid var(--Mercury);
}

.addComment span {
  position: absolute;
  bottom: -12px;
  color: var(--DustyGray);
  font-size: 13px;
}

.addCommentButton {
  color: var(--White);
  background: var(--Astronaut);
  border-radius: 5px;
  padding: 8px 13px;
  vertical-align: top;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}
