/* stylelint-disable */

:global {
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'kyc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-kyc .path1:before {
    content: "\e90e";
    color: rgb(0, 0, 0);
  }
  .icon-kyc .path2:before {
    content: "\e90f";
    margin-left: -2.88671875em;
    color: rgb(0, 0, 0);
  }
  .icon-kyc .path3:before {
    content: "\e910";
    margin-left: -2.88671875em;
    color: rgb(0, 0, 0);
  }
  .icon-kyc .path4:before {
    content: "\e911";
    margin-left: -2.88671875em;
    color: rgb(0, 0, 0);
  }
  .icon-kyc .path5:before {
    content: "\e912";
    margin-left: -2.88671875em;
    color: rgb(69, 180, 227);
  }
  .icon-kyc .path6:before {
    content: "\e913";
    margin-left: -2.88671875em;
    color: rgb(69, 180, 227);
  }
  .icon-kyc .path7:before {
    content: "\e914";
    margin-left: -2.88671875em;
    color: rgb(69, 180, 227);
  }
  .icon-kyc .path8:before {
    content: "\e915";
    margin-left: -2.88671875em;
    color: rgb(91, 91, 91);
  }
  .icon-kyc .path9:before {
    content: "\e916";
    margin-left: -2.88671875em;
    color: rgb(91, 91, 91);
  }
  .icon-kyc .path10:before {
    content: "\e917";
    margin-left: -2.88671875em;
    color: rgb(91, 91, 91);
  }
  .icon-kyc .path11:before {
    content: "\e918";
    margin-left: -2.88671875em;
    color: rgb(91, 91, 91);
  }
  .icon-kyc .path12:before {
    content: "\e919";
    margin-left: -2.88671875em;
    color: rgb(91, 91, 91);
  }
  .icon-kyc .path13:before {
    content: "\e91a";
    margin-left: -2.88671875em;
    color: rgb(194, 14, 57);
  }
  .icon-bars:before {
    content: "\67";
  }
  .icon-bubble:before {
    content: "\6b";
  }
  .icon-reload:before {
    content: "\6c";
  }
  .icon-share:before {
    content: "\6d";
  }
  .icon-flag:before {
    content: "\e902";
  }
  .icon-LTC-alt:before {
    content: "\e903";
  }
  .icon-search:before {
    content: "\e904";
  }
  .icon-BCH-alt:before {
    content: "\e905";
  }
  .icon-BTC-alt:before {
    content: "\e906";
  }
  .icon-BTCD-alt:before {
    content: "\e907";
  }
  .icon-DASH-alt:before {
    content: "\e908";
  }
  .icon-ETC:before {
    content: "\e909";
  }
  .icon-GLD:before {
    content: "\e90a";
  }
  .icon-OMG:before {
    content: "\e90b";
  }
  .icon-XRP-alt:before {
    content: "\e90c";
  }
  .icon-image:before {
    content: "\e90d";
  }
  .icon-arrow-up-left2:before {
    content: "\ea39";
  }
  .icon-ok:before {
    content: "\f00c";
  }
  .icon-mail:before {
    content: "\f03b";
  }
  .icon-arrow-up:before {
    content: "\f03d";
  }
  .icon-arrow-down:before {
    content: "\f03f";
  }
  .icon-pin:before {
    content: "\f041";
  }
  .icon-remove_sign:before {
    content: "\f057";
  }
  .icon-ok_sign:before {
    content: "\f058";
  }
  .icon-minus:before {
    content: "\f068";
  }
  .icon-chevron-right:before {
    content: "\f078";
  }
  .icon-x:before {
    content: "\f081";
  }
  .icon-arrow-small-up:before {
    content: "\f09f";
  }
  .icon-arrow-small-down:before {
    content: "\f0a0";
  }
  .icon-chevron-up:before {
    content: "\f0a2";
  }
  .icon-chevron-down:before {
    content: "\f0a3";
  }
  .icon-chevron-left:before {
    content: "\f0a4";
  }
  .icon-ellipsis_vertical:before {
    content: "\f142";
  }
  .icon-twitter-square:before {
    content: "\e901";
  }
  .icon-facebook-official:before {
    content: "\e900";
  }  
}
