@font-face {
  font-family: 'kyc';
  src: url('fonts/kyc.woff?pgmkbo');
  src:
    url('fonts/kyc.eot?pgmkbo#iefix') format('embedded-opentype'),
    url('fonts/kyc.ttf?pgmkbo') format('truetype'),
    url('fonts/kyc.woff?pgmkbo') format('woff'),
    url('fonts/kyc.svg?pgmkbo#kyc') format('svg');
  font-weight: normal;
  font-style: normal;
}
