@import '../variables.css';

.quesTitle,
.quesCategory {
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--Mercury);
  margin: 5px 0 15px;
}

.quesDesc {
  margin-top: 15px;
  width: 90%;
  min-height: 120px;
  border: 1px solid var(--Mercury);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--Silver);
  font-size: 14px;
}

.submit {
  background: var(--Astronaut);
  color: var(--White);
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  display: inherit;
}

.heading {
  display: block;
}

.error {
  font-size: 12px;
  color: var(--Flamingo);
  position: relative;
  top: -5px;
}
