@import '../variables.css';

.container {
  background: var(--Trout);
  color: var(--White);
  width: 100%;
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
  position: relative;
}

.title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}

.catList {
  margin-top: 10px;
  list-style: none;
  padding: 10px 20px 10px 10px;
}

.catList li,
.smallList li {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid var(--Gallery);
}

.smallList li {
  text-align: center;
}

.catList li i,
.smallList li i {
  padding: 0 15px;
  font-size: 20px;
}

.catList li:last-child,
.smallList li:last-child {
  border: none;
}

.catList li:hover {
  cursor: pointer;
  color: var(--Silver);
}

.caret {
  position: absolute;
  right: 5px;
  color: var(--White);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.caret i {
  font-size: 20px;
}

.smallList {
  margin: 0;
  list-style: none;
  padding: 10px 20px 10px 10px;
}
