@import '../variables.css';

.container {
  border-radius: 15px;
  border: 1px solid var(--Gallery);
  background: var(--White);
  width: 100%;
  min-height: 200px;
  margin: 15px 0;
  text-align: center;
  padding: 16px;
}

.container:first-child {
  margin-top: 0;
}

.container:hover {
  box-shadow: 1px 1px #eee;
}

.questionContainer {
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid var(--Gallery);
}

.question {
  width: 92%;
  padding-right: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.question:hover {
  color: var(--Black);
}

.flagpin {
  width: 7%;
  display: inline-block;
  position: relative;
  right: -20px;
  cursor: pointer;
}

.answerContainer {
  padding: 10px 5px;
  min-height: 100px;
  width: 100%;
}

.voteContainer {
  display: inline-block;
  width: 15%;
  position: relative;
  left: -20px;
  vertical-align: top;
}

.answer {
  display: inline-block;
  width: 80%;
  text-align: left;
}
