.container {
  border-radius: 15px;
  border: 1px solid var(--Gallery, #efefef);
  background: var(--White, #fff);
  width: 100%;
  height: 200px;
  margin: 15px 0;
  text-align: center;
}

.container:first-child {
  margin-top: 0;
}

.container:hover {
  box-shadow: 1px 1px #eee;
}
