@import '../variables.css';

.popupInfo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.backInfo {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.popupContainer {
  position: absolute;
  background: var(--White, #fff);
  min-height: 15%;
  padding: 1.5rem 1.5rem 1rem;
  border-radius: 5px;
  white-space: normal;
  z-index: 1;
}

.popupContainerFull {
  position: absolute;
  background: var(--White, #fff);
  width: 100%;
  height: 100%;
  white-space: normal;
}

.crossInfo {
  position: absolute;
  cursor: pointer;
  right: 0.8rem;
  top: 0;
  padding: 1rem;
  z-index: 10;
}

.contentContainer {
  width: 100%;
  height: 100%;
}
