@import '../../components/variables.css';

.quesContainer {
  min-height: 75vh;
}

.leftContainer {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  margin-left: 5%;
  width: 70%;
  background: var(--White);
  border-radius: 10px;
}

.rightContainer {
  display: inline-block;
  width: 25%;
  padding: 0 10px 10px;
}

.options {
  margin: -10px 0;
}

.quesStats {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quesStats li {
  display: inline;
  margin-left: 15px;
  font-size: 13px;
  color: var(--Boulder);
}
