@import '../../components/variables.css';

.quesContainer {
  min-height: 75vh;
}

.leftContainer {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  margin-left: 5%;
  width: 70%;
  background: var(--White);
  border-radius: 10px;
}

.rightContainer {
  display: inline-block;
  width: 25%;
  padding: 0 10px 10px;
}

.options {
  margin: -10px 0;
}

.shareOptions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 25%;
  text-align: right;
  vertical-align: top;
}

.shareOptions li {
  display: inline;
  margin-left: 10px;
  cursor: pointer;
}

.shareOptions li i:hover {
  color: var(--Lochmara);
}

.quesStats {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 75%;
}

.quesStats li {
  display: inline;
  margin-left: 15px;
  font-size: 13px;
  color: var(--Boulder);
}

.topPadding {
  margin-top: 20px;
}

.answerContainer {
  padding: 10px 5px;
  min-height: 100px;
  width: 100%;
}

.answer {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.answerCaption {
  color: var(--Boulder);
  font-size: 14px;
  font-style: italic;
  width: 75%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.answerTitle {
  padding: 10px 0;
  font-weight: 600;
}

.voteContainer {
  padding: 10px 0;
}

.voteContainer li {
  cursor: pointer;
}

.voteContainer li:hover {
  text-decoration: underline;
  color: var(--Black);
}
