.searchBar {
  width: 50%;
  padding: 6px 0 0;
  top: 50%;
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  border-radius: 2px;
  border: 1px solid var(--Gallery, #efefef);
}

.searchBar i {
  width: 20px;
  color: var(--Trout, #4c505d);
  height: 20px;
  position: relative;
  top: 4px;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
}

input {
  width: 97%;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 8px 8px 33px;
  color: var(--Trout, #4c505d);
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .searchBar {
    width: 43%;
  }
}

@media (max-width: 1024px) {
  .searchBar {
    width: 40%;
  }
}
