@import '../variables.css';

.searchBar {
  width: 50%;
  padding: 6px 0 0;
  top: 50%;
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  border-radius: 2px;
  border: 1px solid var(--Gallery);
}

.searchBar i {
  width: 18px;
  color: var(--Trout);
  position: relative;
  display: inline-block;
  top: 2px;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.searchBar input {
  width: 95%;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 8px 8px 33px;
  color: var(--Trout);
  border: none;
  background-color: transparent;
}

.searchBar input:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .searchBar {
    width: 43%;
  }
}

@media (max-width: 1024px) {
  .searchBar {
    width: 40%;
  }
}
