@import '../variables.css';

.searchBar {
  width: 50%;
  padding: 6px 0 0;
  top: 50%;
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  border-radius: 2px;
  border: 1px solid var(--Gallery);
}

.searchBar i {
  width: 18px;
  color: var(--Trout);
  position: relative;
  display: inline-block;
  top: 2px;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.searchBar input {
  width: 95%;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 8px 8px 33px;
  color: var(--Trout);
  border: none;
  background-color: transparent;
}

.searchBar input:focus {
  outline: none;
}

.suggestedSearch {
  background: var(--White);
  position: absolute;
  z-index: 99;
  margin-top: 5px;
  color: var(--Black);
  width: 100%;
  left: 0;
  padding: 11px;
  box-shadow: 0 2px 2px var(--Silver);
}

.suggestedSearch ul {
  padding-left: 0;
}

.searchItem {
  margin: 0;
  display: block;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  padding: 3px 0 3px 20px;
  cursor: pointer;
}

.searchItem span,
.searchSuggestion {
  display: inline-block;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchSuggestion {
  width: 100%;
}

.searchItem i {
  font-size: 12px;
  text-align: right;
  color: var(--Astronaut);
}

.searchItem:hover {
  background: var(--Sail);
}

.popProd {
  font-size: 12px;
  font-weight: 800;
  line-height: 1;
  padding: 7px 0;
  color: var(--Astronaut);
}

.active {
  background: var(--Sail);
}

@media (max-width: 1200px) {
  .searchBar {
    width: 43%;
  }
}

@media (max-width: 1024px) {
  .searchBar {
    width: 40%;
  }
}
