.header {
  position: relative;
  width: 100%;
  height: 74px;
  float: left;
  padding: 0 4%;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  min-width: 1000px;
  transform: translateZ(0);
  transition: all 0.5s ease-in-out;
}

.logoInfo {
  float: left;
  cursor: pointer;
  margin-right: 3%;
  outline: none;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .header {
    width: 1024px;
  }

  .logoInfo {
    margin-right: 5%;
  }
}
