:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Libre Franklin', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1024px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /*
   * Colors
   * ======================================================================== */

  --Gallery: #efefef;
  --WildSand: #f5f5f5;
  --Flamingo: #ef4e28;
  --Trout: #4c505d;
  --White: #fff;
  --MineShaft: #333;
  --Alabaster: #fafafa;
  --Lochmara: #0074c2;
  --Sail: #b3d4fc;
  --Silver: #ccc;
  --Black: #000;
  --DustyGray: #999;
  --PictonBlue: #3e95f2;
  --DoveGray: #616161;
  --Minsk: #373277;
  --Chambray: #3b5998;
  --Alto: #ddd;
  --Boulder: #757575;
  --Astronaut: #2d4373;
  --Mercury: #e2e2e2;
  --Green: #64b44b;
}
