@import '../variables.css';

.pinBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: transparent;
  height: 40px;
  white-space: nowrap;
}

.pinBarItem {
  display: inline-block;
  background: var(--MineShaft);
  color: var(--Gallery);
  width: 23%;
  margin: 0 5px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  cursor: pointer;
}

.heading {
  margin-left: 10px;
  font-size: 14px;
  width: 78%;
  display: inline-block;
}

.heading ~ i {
  font-size: 12px;
  position: relative;
  right: 0;
  padding: 0 10px;
}
